.center-container-wrapper {
    background: rgba(0, 0, 0, 0.068);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}
.col-title {
    color: #000;
    opacity: 0.5;
    font-size: 16px;
    margin-bottom: 0.3rem;
}
.bktcard__body {
    max-height: 100%;
}