<div class="center-container-wrapper bktcard"  *ngIf="bracketInfo && bracketInfo.bracket_id">
    <div class="bracket-view mr-5">
        <div class="columns">
            <div class="column">
                <h4 class="col-title">Braket Id</h4>
                <h4 class="bktcard__id">{{ bracketInfo.bracket_id }}</h4>
            </div>
            <div class="column">
                <h4 class="col-title">Date</h4>
                <h4 class="bktcard__date">{{ bracketInfo.date | date: 'dd/MM/yyyy' }}</h4>
            </div>
        </div>
        <div class="bracket-info bktcard__body">
            <div class="bktcard__copybutton" (click)="fun_Copy_Info(bracketInfo.info)"><i class="fa fa-copy"></i></div>
            <pre>{{bracketInfo.info}}</pre>
        </div>
    </div>
    <div class="bktcard__deletebutton" (click)="fun_Close_View()"><i class="fa fa-times"></i></div>
</div>

<textarea name="copyInfo" id="copyInfo" #copyInfo style="position:absolute;left:0;right:0;bottom:0;top:0;height: 0;
width: 0;"></textarea>