<div class="center-container-wrapper">
    <div class="searchbar d-none">
        <div class="field">
            <p class="control has-icons-left">
              <input type="text" class="input" placeholder="Filter">
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
            </p>
          </div>
    </div>
    <div class="bracket-list" [@listAnim]>
        <app-bracket-card 
        *ngFor="let bkt of bktList; index as i" 
        [@itemAnim]  
        [id]="bkt.bracket_id" 
        [info]="bkt.info"
        [date]="bkt.date"
        (delete)="fun_Delete_Bracket($event)"
        (view)="fun_View_Bracket($event)"
        ></app-bracket-card>
    </div>

    <button class="button is-primary floating-add-button" routerLink="/bracket/new"><i class="fa fa-plus"></i>&nbsp;Add</button>
</div>